/* CSS declarations go here */
.navbar-default .navbar-brand {
    color: #fc8019;
}
.order{
  color: #fc8019;
}
.heading{
  color: #fc8019;
}
.dashboardCss{
  background-image: none;
}
.homeImage{
  min-height: 600px;
  background-image: url('/images/cel-lisboa-60315.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.dropdown {
    position: relative;
    margin-top: 13px;
}
/*.btn-primary {
    color: #fff;
    background-color: #fc8019;
    border-color: #fc8019;
}
.btn-primary:hover {
    color: black;
    background-color: grey;
    border-color: grey;
}*/
.icons{
  position: absolute;
  margin-top: -5px;
  margin-left: 120px;
}
.text{
  position: relative;
  margin-top: 95px;
  margin-left: 100px;
}
.menu-body {
  max-width: 500px;
  margin: 30px auto;
  display: block;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin-bottom: 8px;
}

.menu-section-title {
  font-style: italic;
  font-size: 30px;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name{
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}
.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}
.form{
  width: 400px;
  overflow: hidden;
}
.quantity{
  width: 60px;
}
/*.checkout{
  border-top-color: : #fc8019;
}*/
/*.order-button{
  color: #fff;
  background-color: #fc8019 !important;
  border-color: #fc8019 !important;
  margin-left: 80px;
}
.order-button:hover{
  color: #fff;
  background-color: #fc8019;
  border-color: #fc8019;
}*/
.add-items{
  position: relative;
  margin-top: 5px;
  margin-left: 180px;
}
.foodSelector-container {
    width: 280px;
}
.go-right {
    position: relative;
    margin-left: 70px;
}
.selector-name{
  position: relative;
  margin-top: 25px;
}
/*.btn-primary {
    color: #fff;
    background-color: #fc8019;
    border-color: #fc8019;
    margin-left: 150px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #fc8019;
    border-color: #fc8019;
}
.btn-primary:focus {
    color: #fff;
    background-color: #fc8019;
    border-color: #fc8019;
}*/
.datetimepicker {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: -25px;
}
.panel-order{
  background-color: #fc8019;
  border: #fc8019;
}
.panel-order:hover {
  background-color: #fc8019;
  border: #fc8019;
}
#order {
  background-color: #fc8019;
  border: #fc8019;
}
#select-food {
  background-color: #fc8019;
  border: #fc8019;
}
#comment:focus {
  border-color: #fc8019;
}
#sendFeedback {
  color: #fc8019;
  border-color: #fc8019
}
#sendFeedback:focus {
  color: black;
  border-color: #fc8019
}
.nav-pills > li > a {
    border-radius: 4px;
    color: #fc8019;
}
#messageCount{
  color: #fc8019;
}
#feedbackName{
  color: #fc8019;
}
#userCount{
  color: #fc8019;
}
