<template name="dashboard">
  <nav class="navbar navbar-default">
    <div class="container">
      <a href={{pathFor 'home'}} class='navbar-brand'>Lucus Cafe</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href={{pathFor 'message'}}>Messages</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <!-- <h4>Total Orders: {{ordersCount}}</h4> -->
    <div class="row">
      <div class="col-lg-5">
        <h5>Total Orders: {{ordersCount}}</h5>
      </div>
      <div class="col-lg-5">
        <h5>Completed Orders: {{completedOrdersCount}}</h5>
      </div>
      <div class="col-lg-2">
        <h5>Information</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        {{#each eachOrder}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>{{name}}</h5>
            <h5>{{coffee}}</h5>
            <h5>{{snacks}}</h5>
            <h5>{{desserts}}</h5>
            <h5>{{time}}</h5>
            <button class='btn btn-info btn-sm panel-order' id='finishedOrder'>Finished</button>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="col-lg-5">
          {{#each finishedOrder}}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5>{{name}}</h5>
              <h5>{{coffee}}</h5>
              <h5>{{snacks}}</h5>
              <h5>{{desserts}}</h5>
              <h5>{{time}}</h5>
              <button class='btn btn-info btn-sm panel-order' id='clearFinishedOrder'>Clear</button>
            </div>
          </div>
          {{/each}}
      </div>
      <div class="col-lg-2">
          <h5>Users: <strong id='userCount'>{{totalUsers}}</strong></h5>
      </div>
    </div>
  </div>
</template>
