<template name="home">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a href={{pathFor 'home'}} class='navbar-brand'>Lucus Cafe</a>
        <ul class='nav navbar-nav navbar-right'>
          <li class='log-in'>{{> loginButtons}}</li>
          {{#if isInRole 'admin'}}
            <li><a href={{pathFor 'dashboard'}} target="_blank" class="{{dashboardCss}}"><span class="order">Dashboard</span></a></li>
          {{/if}}
          <li><a href={{pathFor 'order'}}><span class="order">Place Your Order</span></a></li>
          <li><a href={{pathFor 'profile'}}><span class="order">Your Profile</span></a></li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron homeImage"></div>
</template>
