<template name="home">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a href="#" class='navbar-brand'>Lucus Cafe</a>
        <ul class='nav navbar-nav navbar-right'>
          <li class='log-in'>{{> loginButtons}}</li>
          {{#if isInRole 'admin'}}
            <li><a href=""><span class="order">Dashboard</span></a></li>
          {{/if}}
          <li><a href={{pathFor 'order'}}><span class="order">Place Your Order</span></a></li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron">

    </div>
    <!-- <div class="container icons">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <i class="fa fa-bolt fa-4x" aria-hidden="true"></i>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <i class="fa fa-heart-o fa-4x" aria-hidden="true"></i>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <i class="fa fa-money fa-4x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="container text">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <p>On Time delivery</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <p>Made With Love</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <p>Cash Payments Only</p>
        </div>
      </div>
    </div> -->
</template>
