<template name="order">
  <nav class="navbar navbar-default">
    <div class="container">
      <a href="#" class='navbar-brand'>Lucus Cafe</a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <h4 class='heading'>Menu</h4>
        <div class="menu-body">
          <div class="menu-section">
            <h4 class="menu-section-title">Coffee</h4>
            <div class="menu-item">
              <div class="menu-item-name">Cappucino</div>
              <div class="menu-item-price">60</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Americano</div>
              <div class="menu-item-price">80</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Cafe Mocha</div>
              <div class="menu-item-price">60</div>
            </div>
          </div>
          <div class="menu-section">
            <h4 class="menu-section-title">Snacks</h4>
            <div class="menu-item">
              <div class="menu-item-name">Veg Sandwich</div>
              <div class="menu-item-price">80</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Chicken Sandwich</div>
              <div class="menu-item-price">100</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Paneer Sandwich</div>
              <div class="menu-item-price">90</div>
            </div>
          </div>
          <div class="menu-section">
            <h4 class="menu-section-title">Desserts</h4>
            <div class="menu-item">
              <div class="menu-item-name">Oreo Cheese Cake</div>
              <div class="menu-item-price">50</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Bluberry Mousse Cake</div>
              <div class="menu-item-price">50</div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name">Belgium Chocolate Truffle</div>
              <div class="menu-item-price">70</div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-4">
        <h4 class='heading'>Order Your Food</h4>
      </div>
    </div>
  </div>
</template>
